/* 
    Document   : styles
    Created on : 13-mar-2012, 10:31:52
    Author     : Enzo
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

div {
     padding-bottom: 6px;
     padding-top: 6px;
}

.resultado {
    padding-top: 24px;
    color: green;
    padding-bottom: 6px;
}

.error {
    padding-top: 24px;
    color: red;
    padding-bottom: 6px;
}

body {
    text-align:center;
    
}

