/* 
    Document   : styles
    Created on : 13-mar-2012, 10:31:52
    Author     : Enzo
    Description:
        Purpose of the stylesheet follows.
*/

body {
    text-align:center;
   
}

div {
     padding-bottom: 6px;
}

.resultado {
    color: green;
    padding-top: 24px;
}

.error {
    color: red;
    padding-top: 24px;
}